.home{
  height: calc(100vh - 50px);
  padding: 20px;
  &_img_container{
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_img{
    width: 80%;
    border-radius: 20px;
    box-shadow: 0 0 15px gray;
  }
  &_title{
    margin-top: 0;
    color: $color-1-dark;
    font-family: $font-1;
    font-size: 30px;
    font-weight: bolder;
  }
  &_text_container{
    width: 100%;
    padding: 40px;
  }
  &_text{
    margin-bottom: 0;
  }
}
