@media screen and (max-width: 768px){
  .nav{
    grid-template-columns: 1fr  ;
    justify-items: center;
    &_icon{
      margin: 0;
    }
    &_buttons{
      display: none;
    }
  }
  .nav_mobile{
    &_buttons{
      display: flex;
    }
  }
  .start{
    height: calc(100vh - 100px);
    .logo_container{
      width: 300px;
      height: 140px;
    }
    .title_container{
      width: 500px;
      height: 60px;
      font-size: 30px;
    }
  }
  .home{
    height: fit-content;
    &_img{
      width: 420px;
    }
    &_title{
      font-size: 26px;
    }
    &_text_container{
      padding: 0 40px 40px;
    }
    &_text{
      font-size: 16px;
    }
  }
  .portfolio{
    .card{
      width: 90%;
      height: 500px;
    }
  }
  .contact{
    height: fit-content;
    padding: 20px 20px 70px 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    &_img{
      width: 350px;
    }
    &_link_container{
      width: 350px;
      padding: 0;
    }
  }
  .section_container{
    grid-template-columns: 1fr;
    grid-template-rows: 375px 1fr;
    row-gap: 20px;
    padding: 20px;
  }
}
