$color-1: #16697a;
$color-1-dark: #0f4a55;
$color-1-light: #458795;
$color-2: #db6400;
$color-2-dark: #af5000;
$color-2-light: #e28333;
$color-3: #ffa62b;
$color-3-dark: #cc8522;
$color-3-light: #ffd395;
$color-4: #f8f1f1;
$color-4-dark: #e0dbdb;

$color-email: #FF4A4A;
$color-email-dark: #db3e3e;
$color-instagram: #DD2A7B;
$color-instagram-dark: #b82265;
$color-instagram-gradient: #8134AF, #DD2A7B, #FEDA77;
$color-instagram-gradient-dark: #67288b, #b82265, #cfb261;
$color-facebook: #1778F2;
$color-facebook-dark: #1266ce;
$color-whatsapp: #25D366;
$color-whatsapp-dark: #1ca84f;

$font-1: 'Maven Pro', sans-serif;
$font-2: 'Calligraffitti', cursive;
$font-3: 'Roboto', sans-serif;
